:root {
	--c-color-1: hsl(75, 10%, 40%);
	--c-color-2: hsl(60, 12%, 60%);
	--c-color-3: hsl(60, 12%, 90%);
	--c-color-3-opaque: hsla(60, 13%, 85%, 0.5);
	--c-color-4: hsl(21, 35%, 65%);
	--c-border-color: hsl(0, 0%, 85%);
	--c-text-color: hsl(0, 0%, 15%);
	--c-muted-text-color: hsl(0, 0%, 55%);
}

body {
	background-color: var(--c-color-background);
	font-family: "Nunito Sans", sans-serif;
	color: var(--c-text-color);
	max-width: 1200px;
	margin: 0 auto;
}

html {
	font-size: smaller;
}

.container {
	background-color: var(--c-color-background);
	display: grid;
	min-height: 100vh;
	grid-template-columns: 1fr 2fr;
	grid-template-rows: 1fr auto;
	grid-template-areas: "head head" "list recipe";
}

/* loading spinner */
.spinner {
	margin: 5rem auto;
	text-align: center;
}

/* .spinner svg {
	height: 6rem;
	width: 6rem;
	fill: #767d82;
	animation: rotate 2s infinite linear;
} */

@keyframes rotate {
	0% {
		-webkit-transform: rotate(0);
		transform: rotate(0);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

.success__message,
.error__message {
	max-width: 45rem;
	margin: 0 auto;
	display: flex;
	padding: 5rem 4rem;
}

.success__message p,
.error__message p {
	margin-left: 1.5rem;
	line-height: 1.5;
	font-weight: 600;
}

/* ------------------------------ */
/* header / nav start */
.header {
	grid-area: head;
	padding: 1.5rem 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid var(--c-border-color);
}

.header__logo {
	height: 2.5rem;
}

.nav__list {
	display: flex;
	list-style: none;
	gap: 0.8rem;
}

.nav__btn {
	font-family: inherit;
	background-color: inherit;
	border: none;
	border-radius: 32px;
	padding: 0.6rem 1rem;
	cursor: pointer;
}

.nav__btn:focus {
	outline: none;
}

.nav__btn:hover {
	background-color: var(--c-color-3);
	border: 1px solid var(--c-color-1);
	box-shadow: 0 0.2rem 0 0 var(--c-color-1);
}

.nav__btn i.nav__icon {
	color: var(--c-color-1);
	margin-right: 0.5rem;
}
/* header / nav end */
/* ------------------------------ */

/* ------------------------------ */
/* favourites view start */
.favourites {
	visibility: hidden;
	opacity: 0;
	position: absolute;
	right: 100;
	width: clamp(400px, 25vw, 700px);
	transform: translateX(-100);
	z-index: 10;
	text-wrap: nowrap;
	background-color: white;
	border: 1px solid var(--c-border-color);
	border-radius: calc(16px + 12px);
	transition: all 0.5s 0.2s;
}

.favourites__list {
	list-style: none;
}

.favourites:hover,
.nav__btn--favourites:hover + .favourites {
	visibility: visible;
	opacity: 1;
}

.favourites__link {
	display: flex;
	align-items: center;
	border-radius: 16px;
	margin: 0.75rem;
	border: 1px solid var(--c-border-color);
}

.favourites__link:hover,
.favourites__link--active {
	background-color: var(--c-color-3);
}

.favourites__fig {
	flex-basis: 7rem;
	margin-right: 1.5rem;
	backface-visibility: hidden;
}

.favourites__fig img {
	border-top-left-radius: 16px;
	border-bottom-left-radius: 16px;
	height: 100%;
	aspect-ratio: 1/1;
	object-fit: cover;
}

.favourites__title {
	color: var(--c-color-1);
	text-transform: uppercase;
	font-weight: 700;
	white-space: wrap;
	max-width: inherit;
	overflow: hidden;
}

.favourites__publisher {
	color: var(--c-muted-text-color);
	font-weight: normal;
}

.favourites__user-generated {
	display: flex;
	justify-content: center;
	align-items: center;
	color: #767d82;
	height: 2rem;
	width: 2rem;
	border-radius: 50%;
	margin-left: auto;
}
/* favourites view end */
/* ------------------------------ */

/* ------------------------------ */
/* search view start */
.search-results {
	margin: 2rem 0rem;
	border-right: 1px solid var(--c-border-color);
	min-width: 400px;
}

.search {
	height: 3.5rem;
	margin-right: 1.5rem;
	display: flex;
	background-color: var(--c-color-background);
	border: 1px solid var(--c-border-color);
	border-bottom: 0;
	border-radius: 32px;
	padding-left: 1.5rem;
	transition: all 0.3s;
	box-shadow: 0 0.2rem 0 0 var(--c-color-1);
}

.search__field {
	border: none;
	background: inherit;
	font-family: inherit;
	width: 100%;
	color: var(--c-text-color);
}

.search__field:focus {
	outline: none;
}

.search__field::placeholder {
	color: var(--c-muted-text-color);
}

.search__btn {
	position: relative;
	height: 100%;
	aspect-ratio: 1;
	left: 1;
	color: var(--c-color-1);
	background-color: var(--c-color-3);
	outline: 1px solid var(--c-color-1);
	border: none;
	border-radius: calc(32px);
}
/* search view end */
/* ------------------------------ */

/* ------------------------------ */
/* results view start */
.results {
	margin: 1.5rem 0;
	display: flex;
	flex-direction: column;
	list-style: none;
	padding-right: 1.5rem;
}

.results li {
	border: 1px solid var(--c-border-color);
	background-color: inherit;
	border-radius: 16px;
	margin: 0.75rem 0;
}

.results li:target {
	background-color: var(--c-color-3);
}

.preview__link {
	display: flex;
	align-items: center;
	border-radius: 16px;
}

.preview__link:hover,
.preview__link--active {
	background-color: var(--c-color-3);
}

.preview__fig {
	flex-basis: 7rem;
	margin-right: 1.5rem;
	backface-visibility: hidden;
}

.preview__fig img {
	min-width: 100px;
	min-height: 100%;
	aspect-ratio: 1/1;
	border-top-left-radius: 16px;
	border-bottom-left-radius: 16px;
	object-fit: cover;
}

.preview__title {
	color: var(--c-color-1);
	text-transform: uppercase;
	font-weight: 700;
	white-space: wrap;
	max-width: inherit;
	overflow: hidden;
}

.preview__publisher {
	color: var(--c-muted-text-color);
	font-weight: normal;
}

.preview__user-generated {
	display: flex;
	justify-content: center;
	align-items: center;
	color: #767d82;
	height: 2rem;
	width: 2rem;
	border-radius: 50%;
	margin-left: auto;
}
/* results view end */
/* ------------------------------ */

/* ------------------------------ */
/* recipe view start */
.recipe {
	display: flex;
	flex-direction: column;
	margin: 2rem 0rem 2rem 1.5rem;
}

.recipe__fig {
	height: 40vh;
	position: relative;
	transform-origin: top;
}

.recipe__fig::before {
	content: "";
	display: block;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

.recipe__img {
	width: 100%;
	display: block;
	height: 100%;
	border-radius: 16px;
	object-fit: cover;
	object-position: center;
}

.recipe__title {
	position: relative;
	width: 100%;
	color: white;
	text-align: center;
	font-weight: 700;
	text-transform: uppercase;
}

.recipe__title span {
	position: absolute;
	width: 60%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 1.5rem 2.8rem;
	background-image: linear-gradient(to right, var(--c-color-4), var(--c-color-1));
	border-radius: 16px;
	opacity: 0.95;
}

.recipe__details {
	margin-top: 3.5rem;
	display: flex;
	align-items: center;
	padding: 3.5rem 8rem 3.5rem 8rem;
}

.recipe__info {
	display: flex;
	align-items: center;
}

.recipe__info:not(:last-child) {
	margin-right: 4.5rem;
}

.recipe__info-icon {
	color: var(--c-color-1);
}

.recipe__info-data {
	margin-left: 1rem;
	font-weight: 700;
}

.recipe__info-buttons {
	display: flex;
	margin-left: 1rem;
}

.btn--tiny {
	background-color: inherit;
	border: none;
}

.recipe__user-generated {
	display: flex;
	aspect-ratio: 1;
	margin-left: auto;
	margin-right: 0.5rem;
}

.btn--round {
	display: flex;
	color: white;
	background-color: var(--c-color-4);
	border: none;
	border-radius: 50%;
	padding: 0.7rem;
	aspect-ratio: 1;
}

/* recipe view: ingredients */
.recipe__ingredients {
	display: flex;
	flex-direction: column;
	padding: 2rem;
	border-radius: 16px;
	background-color: var(--c-color-3-opaque);
}

.recipe__ingredients-heading,
.recipe__instructions-heading {
	font-weight: 700;
	color: var(--c-color-1);
	text-transform: uppercase;
	margin-bottom: 2.5rem;
	text-align: center;
}

.recipe__ingredient-list {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 1.5rem 4rem;
}

.recipe__ingredient {
	display: flex;
}

.recipe__icon {
	height: 2rem;
	width: 2rem;
	fill: #54816c;
	margin-right: 1.1rem;
	-webkit-box-flex: 0;
	-ms-flex: 0 0 auto;
	flex: 0 0 auto;
	margin-top: 0.1rem;
}

.recipe__quantity {
	margin-right: 0.5rem;
	-webkit-box-flex: 0;
	-ms-flex: 0 0 auto;
	flex: 0 0 auto;
}

/* recipe view: instructions */
.recipe__instructions {
	padding: 5rem 10rem;
	padding-bottom: 5rem;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.recipe__instructions-text {
	text-align: center;
	margin-bottom: 3.5rem;
}

.recipe__publisher {
	font-weight: 700;
}

.btn--small {
	color: var(--c-color-1);
	background-color: var(--c-color-3);
	padding: 0.5rem 1rem;
	border-radius: 32px;
	border: 1px solid var(--c-color-1);
	box-shadow: 0 0.2rem 0 0 var(--c-color-1);
}

/* ------------------------------ */
/* pagination view start */
.pagination {
	margin-top: auto;
	padding-right: 1.5rem;
}

.pagination::after {
	content: "";
	display: table;
	clear: both;
}

.btn--inline {
	display: flex;
	align-items: center;
	text-align: center;
	color: var(--c-color-1);
	background-color: var(--c-color-3);
	border: none;
	border-radius: 32px;
	padding: 0.5rem 1rem;
	border: 1px solid var(--c-color-1);
	box-shadow: 0 0.2rem 0 0 var(--c-color-1);
}

.pagination__btn--prev {
	float: left;
}

.pagination__btn--next {
	float: right;
}
/* pagination view end */
/* ------------------------------ */

/* ------------------------------ */
/* add recipe pop-up modal start */
.add-recipe-window {
	position: fixed;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	width: 100rem;
	color: #45474a;
	background-color: #1f1f1f;
	border-radius: 9px;
	padding: 3.5rem 3.5rem;
	-webkit-box-shadow: 0 0rem 2rem 0.8rem rgba(118, 125, 130, 0.35);
	box-shadow: 0 0rem 2rem 0.8rem rgba(118, 125, 130, 0.35);
	z-index: 1000;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
}

.add-recipe-window .btn--close-modal {
	font-family: inherit;
	color: inherit;
	position: absolute;
	top: 0.8rem;
	right: 1.8rem;
	cursor: pointer;
	border: none;
	background: none;
}

.overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.4);
	-webkit-backdrop-filter: blur(4px);
	backdrop-filter: blur(4px);
	z-index: 100;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
}

.hidden {
	visibility: hidden;
	opacity: 0;
}

.upload {
	display: -ms-grid;
	display: grid;
	gap: 5rem 0rem;
}

.upload__column--data {
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: 1fr 1fr;
	grid-template-columns: 1fr 1fr;
	gap: 1.25rem 4rem;
}

.upload__column--data input {
	padding: 0.8rem 1rem;
	border: 1px solid #ddd;
	border-radius: 0.5rem;
	-webkit-transition: all 0.2s;
	transition: all 0.2s;
}

.upload__column--data input::-webkit-input-placeholder {
	color: #dce0e3;
}

.upload__column--data input:-ms-input-placeholder {
	color: #dce0e3;
}

.upload__column--data input::-ms-input-placeholder {
	color: #dce0e3;
}

.upload__column--data input::placeholder {
	color: #dce0e3;
}

.upload__column--data input:focus {
	outline: none;
	border: 1px solid #54816c;
	background-color: #f9fafb;
}

.upload__column--ingredients {
	display: grid;
	grid-template-columns: 10% 20% auto;
	gap: 1.25rem 2.5rem;
}

.upload__column--ingredients input {
	padding: 0.8rem 1rem;
	border: 1px solid #ddd;
	border-radius: 0.5rem;
	transition: all 0.2s;
}

.upload__column--ingredients input::placeholder {
	color: #dce0e3;
}

.upload__column--ingredients input:focus {
	outline: none;
	border: 1px solid #54816c;
	background-color: #f9fafb;
}

.upload__heading {
	text-transform: uppercase;
	grid-column: 1/-1;
}

.upload__btn {
	grid-column: 1 / -1;
	justify-self: center;
}
